// ============================================================================
// Word Wrap
// http://kenneth.io/blog/2012/03/04/word-wrapping-hypernation-using-css/
// ----------------------------------------------------------------------------
@mixin word-wrap {
  // NOTE: we disable word-break because it messed up Firefox
  // -ms-word-break: break-all;
  // word-break: break-all;
  // word-break: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
