// ============================================================================
//   THEME Readable
//   --------------------------------------------------------------------------
//   $name:        /src/scss/themes/_readable.scss
//   $author:      David Hund
//
//   $description: Specific 'Readable' Styles: a very, vuherry, simple theme
//                 with the only aim to provide a readable baseline
//
//   $contents:
//                 1  ...
// ============================================================================

/* = Variables specific to this theme

     NOTE: You should probably change /extra/_settings.scss
           instead of changing variables here.
           For example: change $cl-border in _settings.scss instead of
           .. adding all needed components here.

           This Theme CSS is merely to give _some_ basic theming styles
 --------------------------------------------------------------------------- */
$cl-green:  #355243;
$cl-bg-alt: lighten($cl-accent, 30%);


/* = Layout
 --------------------------------------------------------------------------- */
html {
	font-family: Georgia, Times, "Times New Roman", serif;

	@include MQ(medium) {
		// Faux Border On <HTML>
		height: auto;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			border: 1.5em solid $cl-accent2;
			height: 100%;
			z-index: -1;
		}
	}
}
body {
	background-color: $cl-bg;
	color: $cl-text;
	padding: $base-line-rem; 
	margin: $base-line-rem auto;
	max-width: 60em;
	@include MQ(medium) { padding: $base-line-rem*2; }
	@include MQ(wide) { padding: $base-line-rem*4; }
}

// Vertical Rhytm fixes
[role="header"],
[role="navigation"],
[role="main"],
[role="complementary"] {
	@extend %mg-base-line;
}

/* = Typography
 --------------------------------------------------------------------------- */

// Constrain line-widths ('measure') on wider screens
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, 
p {
	@include MQ('medium') {
		max-width: 36em;
	}
}

.is-active a, 
a.is-active { font-weight: bold; }

.lnk-more,
.lnk-back { text-decoration: none; }

.lnk-more:after { content: " »"; }
.lnk-back:before { content: "« "; }

header .lnk-back {
	color: $cl-border;
	position: absolute;
	top: $base-line-rem;
	@include MQ(medium) { top: $base-line-rem*2; }
	@include MQ(wide) { top: $base-line-rem*3; }
}

.linklist li > a {
	padding-left: 0;
	padding-right: 0;
	text-decoration: none;
}

h1, .h1,
h2, .h2 {
	position: relative;
	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 7rem;
		height: .0625em;
		margin-bottom: -.125em;
		background: $cl-accent;
	}
	// Hyperlinks in these headings
	// - No underline
	// - Inherit color
	> a {
		text-decoration: none;
		color: $cl-text;
	}
}
h1.site-title {
	text-align: center;
	&:after {
		left: 50%;
		margin-left: -3.5rem;
	}
}

hr {
	// width: 50%;
	border-color: $cl-accent;
	color: $cl-accent;
	&:after {
		content: "§";
		display: inline-block;
		font-size: 1.5rem;
		line-height: 1;
		text-align: center;
		width: 1.5em;
		background-color: $cl-bg;
		position: relative;
		left: 50%;
		top: -.75rem;
		margin-left: -.75em;
	}
}

figure,
pre {
	border-left: .5em solid $cl-accent2;
	margin-left: -$base-line-rem; padding-left: $base-line-rem;
	@include MQ('medium') { margin-left: -$base-line-rem*2; padding-left: $base-line-rem*2; }
	@include MQ('wide')   { margin-left: 0; padding-left: $base-line-rem; }
}

pre,
code {
	background-color: $cl-bg-alt;
	color: $cl-green;
}

ul, ol {
}

header > .intro { 
	text-align: center;
}

.hero {
	background: $cl-accent2;
	// Pull to flush sides
	margin-left: -$base-line-rem; 
	margin-right: -$base-line-rem; 
	@include MQ(medium) { 
		padding-left: $base-line-rem*2; 
		padding-right: $base-line-rem*2; 
		margin-left: -$base-line-rem*2; 
		margin-right: -$base-line-rem*2; 
	}
	@include MQ(wide) {
		padding-left: $base-line-rem*4; 
		padding-right: $base-line-rem*4; 
		margin-left: -$base-line-rem*4; 
		margin-right: -$base-line-rem*4; 
	}
	// TODO: this needs checkin'
	h1, .h1,
	h2, .h2 {
		&:after { background: $cl-white; }
	}
}

footer[role="contentinfo"] {

	border-top: 1px solid $cl-accent;
	color: $cl-accent;
	margin-top: $base-line-rem*2;
	&:before {
		content: "§";
		display: inline-block;
		font-size: 1.5rem;
		line-height: 1;
		text-align: center;
		width: 1.5em;
		background-color: $cl-bg;
		position: relative;
		left: 50%;
		margin-left: -.75em;
		top: -.75rem;
	}

	address { display: inline; }
	small {
		font-size: 1em;
		line-height: $ln-height;
		color: $cl-text;
	}

	.media__img img {
		max-width: 100px;
		border: .25em solid $cl-bg-alt;
	}

	.l-1of2 {
		width: 100% !important;
		@include MQ(medium) { width: 50% !important; }
	}


}

.vcard { line-height: $ln-height; }
.hentry__meta {
	color: $cl-green;
}
.post-author,
.post-cat {
	display: inline-block;
	font-weight: normal;
	line-height: 1;
	padding-left: .5em;
	margin-left: .5em;
	border-left: 1px solid $cl-border;
}
.post-author:before { content: "By "; }
.hentry--spotlight {
	margin-top: $base-line-rem*2;
	@include MQ(medium) { 
		background: lighten($cl-bg-alt, 4%);
		padding: $base-line-rem;
		border: 1px solid $cl-bg-alt;
		p { font-size: 1.5em; }
	}
}
.l-secondary--shade {
}