// ============================================================================
//   TABLES
//   --------------------------------------------------------------------------
//   $name:        /src/scss/base/_tables.scss
//   $author:      David Hund
//
//   $description: Base Sass Styles for Tables.
//
//   $contents:
//                 1  Plain Table
//                 2  Decorated
//                 3  ...
// ============================================================================

/* = Plain Table
 --------------------------------------------------------------------------- */
table {
  clear: both;
  max-width: 100%;

  tr>th { text-align: left; }
  tr>td { 
    padding-right: .5em;

    &:last-child,
    &.last-child {
      padding-right: 0;
    }
  }
}


/* = Decorated
 --------------------------------------------------------------------------- */
