// ============================================================================
//   BLOCK QUOTES
//   --------------------------------------------------------------------------
//   $name:        /src/scss/base/_blockquotes.scss
//   $author:      David Hund
//
//   $description: Base Sass Styles for Block Quotes.
//
//   $contents:
//                 1  Plain Blockquote
//                 2  Decorated
//                 3  ...
// ============================================================================

/* = Plain BlockQuote
 --------------------------------------------------------------------------- */
blockquote {
  position: relative;
  font-size: 1.5em;
  line-height: 2;
  margin-left: 0;
  margin-right: 0;

  // Fancy Quotes
  & > p:before,
  & > p:after {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: normal;
    font-weight: bold;
  }
  & > p:before { content: "\201c"; }
  & > p:after { content: "\201d"; }

  // No margin on last P
  p:last-of-type { margin-bottom: 0; }

  // Display the source, if any, onHover
  &[cite]:hover:after {
    content: attr(cite);
    background: rgba(0,0,0,0.1);
    color: $cl-white;
    padding: 0 .5em;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  cite, .cite {
    display: block;
    font-size: 0.666em; // back to 1rem
    line-height: $ln-height;
    color: $cl-text-alt;
    // font-style: normal;
    // font-weight: bold;
  }
}

