// ============================================================================
//   FORMS
//   --------------------------------------------------------------------------
//   $name:        /src/scss/base/_forms.scss
//   $author:      David Hund
//
//   $description: Base Sass Styles for Forms.
//
//   $contents:
//                 1  Plain Form
//                 2  helper classes
//                 3  ...
// ============================================================================

/* = Plain Forms
 --------------------------------------------------------------------------- */
fieldset {
    border: 0;
    padding: 0;
    margin-top: 0;
    @include rem(margin-bottom,$base-line);
}

textarea {
    resize: vertical;
}

/* = Form classes
 --------------------------------------------------------------------------- */
