// ============================================================================
//   TYPOGRAPHY
//   --------------------------------------------------------------------------
//   $name:        /src/scss/base/_type.scss
//   $author:      David Hund
//
//   $description: Base Sass Styles for Type.
//
//   $contents:
//                 1  General
//                 2  Headings
//                 3  ...
//                 4  Simple Text helper classes
// ============================================================================

/* = General Type
 --------------------------------------------------------------------------- */
// Text-selection: no prefixes needed because Autoprefixer FTW
::selection {
    @include contrasted($cl-text-select-background); // magically set background and color with OK contrst
    // background-color: $cl-text-select-background;
    // color: $cl-text-select;
    text-shadow: none;
}

p, 
ul, ol, dl, 
td, 
input, select, textarea {
    line-height: $ln-height; 
}

// Baseline bottom margin (vertical rythm)
p,
ul, ol, dl,
table,
blockquote,
figure, figcaption,
hr { 
    @extend %mg-base-line;
    margin-top: 0;
    // &:last-child { margin-bottom: 0; }
}

address {
    font-style: normal; 
}

code {
    background-color: rgba($cl-text,0.05);
    color: rgba($cl-text,0.65);
    padding: .1em .33em;
    @if $bd-radius != 0 {
        border-radius: $bd-radius;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $cl-border;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}


/* = Headings
 --------------------------------------------------------------------------- */
 h1, h2, h3, h4, h5, h6,
 .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
    margin-top: 0;
}
// Sizes based on $hn-scale, from a neat type-scale.com (Perfect Fourth: 1.333?)
// The margin/line-height values are Magic I'm afraid. Manually worked out Vertical Rhythm
h1, .h1 { font-size: pow($hn-scale, 4)*1em; line-height: 1.43; margin-bottom: .47em; }
h2, .h2 { font-size: pow($hn-scale, 3)*1em; line-height: 1.3;  margin-bottom: .65em; }
h3, .h3 { font-size: pow($hn-scale, 2)*1em; line-height: 1.5;  margin-bottom: .2em; }
h4, .h4,
h5, .h5 { font-size: $hn-scale*1em; line-height: 1.5; margin-bottom: .8em; }
h5, .h5 { font-weight: normal; }
h6, .h6 { font-size: 1em; font-weight: bold; line-height: 1.5; margin-bottom: 0; }

// EXPERIMENT: Fibonacci sizes
// @for $i from 1 through 6 {
//     h#{$i}, .h#{$i} { 
//         /* test: */font-size: (nth($fibonacci,(7-$i))*16)*1px;
//         font-size: nth($fibonacci,(7-$i))*1em;
//     }
// }


/* = SIMPLE TEXT HELPERS
 --------------------------------------------------------------------------- */
 .intro {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2;
}
